<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925348430499-a3o5v1fuff2crakjqnksb4rrfreab7l6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925348430499-a3o5v1fuff2crakjqnksb4rrfreab7l6</string>
	<key>API_KEY</key>
	<string>AIzaSyBUxChOj132-AJYtVlicrEa4VYwWhobgE4</string>
	<key>GCM_SENDER_ID</key>
	<string>925348430499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chabiri.rnzip</string>
	<key>PROJECT_ID</key>
	<string>rnzip-6fed6</string>
	<key>STORAGE_BUCKET</key>
	<string>rnzip-6fed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925348430499:ios:5fc807897c67ede12d7516</string>
</dict>
</plist>