<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660292728098-a2kkuk9q5qbu2krbe69dn5uj5jnfdub9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660292728098-a2kkuk9q5qbu2krbe69dn5uj5jnfdub9</string>
	<key>API_KEY</key>
	<string>AIzaSyAzPBk13d44aGuporQzcLPLRmvs7dXqBcA</string>
	<key>GCM_SENDER_ID</key>
	<string>660292728098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chabiri.rnzip</string>
	<key>PROJECT_ID</key>
	<string>rnzip-8f9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>rnzip-8f9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660292728098:ios:2aeb5bd41bc7d407a1e17b</string>
</dict>
</plist>